*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --success-color: #2ecc71;
    --errror-color: #e74c3c;
    --metalic-brown: #663b00;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --special-box-shadow: #663b00 1px 1px 10px 4px;
    --border: 2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
}

.container{
    background-color: #eee;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 450px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

h2{
    background-color: var(--metalic-brown);
    color: white;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.form-control{
    padding: 16px;
    position: relative;
}

.form-control label{
    color: var(--light-color);
    display: block;
    position: relative;
    left: 20px;
    margin-bottom: 5px;
    text-align: justify;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.form-control input{
    border: 2px solid var(--outline);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
}

#address{
    border: 2px solid var(--outline);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
    resize: none;
}

.form-control input:focus{
    border:2px solid #663b00;
    outline: none;
}

.form-control.success{
    border-color: var(--success-color);
}

.form-control.error{
    border-color: var(--errror-color);
}
.form-control small{
    color: var(--errror-color);
    position: absolute;
    bottom: 0;
    left: 40px;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.btn{
    position: relative;
    isolation: isolate;
    width: 160px;
    height: 40px;
    margin-top: .5rem;
    padding: .25rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid var(--black);
    border-radius: 6px;
    text-align: center;
    transition: 0.25s ease;
    background: transparent;
    cursor: pointer;
}

.btn:hover{
    background: var(--metalic-brown);
    color: white;

}

.btn::before{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    scale: .5 1;
    background: var(--metalic-brown);
    transform: scaleX(0);
    transition: transform 0.25s ease;

}

.btn:hover::before{
    background: var(--metalic-brown);
    transform: scaleX(1);
    color: white;
}
